<h1>Welcome to the Kid Zone</h1>
<form action="/kidzone/new" method="post">
  <label for="name">What is your name?</label>
  <br>
  <input type="text">
  <br>
  <button type="submit">Go!</button>
</form>