.body {
  background-color:lightblue;
}


.buttons button {
  width: 100px;
  height: 50px;
  border-radius: 10%;
  background-color: lightgray;
}

.buttons button:hover {
  background-color: red;
}
.buttons button span {
  color: black;
  font-size: 2em;
}

.img-main {
  width: 200px;
  height: 200px;
  background-color:red;
}


.game{
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}