@import "reset.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Raleway|Open + Sans');

/* Global styles */
a {
  text-decoration: none;
}

main {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1em;
}


/* Nav styles  */
nav {
  height: 5em;
  width: 100%;
}

nav ul {
  display: flex;
}

nav ul li {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1em;
  margin-top: 1em;
  font-size: 1.4em;
  margin-left: 30%;
}

nav ul li a {
  color: #6699cc;
  margin: 1em;
}

a img {
  padding: 15px;
}

a p{
  align-self: center;
}

nav ul li:first-child {
  margin-left: 2em;
}

nav ul li a:hover {
  text-decoration: underline;
  color: black;
}

/* Styles for the main section */
main h1,
main p {
  text-align: center;
  
}


.main-txt{
  width: 50%;
  margin-left: 15em;
  margin-top: 5em;
}

main button {
  margin-top: 2em;
  margin-left: 90%;
}

main button:hover {
  background-color: cyan;
}

.header h1 {
  font-size: 5em;
  padding-top: 1em;

}
