@import "reset.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Raleway|Oswald');

/* Global styles */
a {
  text-decoration: none;
}


/* Nav styles  */
nav ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

nav ul li {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  text-align: center;
}

nav ul li a {
  color:#00b3e6;
}

a img {
  padding: 15px;
}

a p{
  text-align: center;
}


nav ul li a:hover {
  text-decoration: dotted;
  color:#d4ef40;
}

button a:visited {
  color: white;
}