html, body {
  margin: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #323334;
}

.content-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Raleway', sans-serif;
  margin-top: 4em;
}

.high-score{
  justify-self: flex-start;
}


.achievements{
  justify-self: flex-end;
}

.button{
  justify-self: center;
}
button {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 25px;
  width: 200px;
  background-color: #00b3e6;
  letter-spacing: 1px;
  color: white;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-left: 40px;
}

button:hover {
  background-color: #ffdd30;
}


.content-container h3 {
  font-size: 30px;
  color: #a9a9a9;
  border-bottom: 2px solid #00b3e6;
  text-align: center;
}

.score-container {
  line-height: 30px;
  font-size: 20px;
  padding-top: 10px;
}

.score-container .left  {
  float: right;
}

.badge-container {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}

.badge-container img {
  width: 100px;
  height: 100px;
}

