header {
  background-color: red;
  height: 710px;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: white;
  padding-top: 1.2em;
}

img {
  width: 50%;
  height: 50%;
}

.content-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

p {
  width: 40%;
  color: white;
}

header button {
  position: absolute;
  border: none;
  margin-left: 50%;
  margin-top: 9em;
}

/* About section */
section.about {
  background-color: yellow;
  height: 720px;
}

section.about h1 {
  color: black;
}

section.about p {
  color: black;
}

section.about img {
  background-color: red;
}
