html, body {
  width: 100%;
  margin: 0;
}
.wrapper {
  /* background-color: red; */
  height: 680px;
}

.header {
  text-align: center;
  font-size: 2em;
  color: black;
  padding-top: 1.2em;
}

.resize {
  width: 50%;
  height: 50%;
}

.content-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.description {
  width: 40%;
  color: black;
}

.cta-btn{
  position: absolute;
  border: none;
  margin-left: 50%;
  margin-top: 9em;
}

/* About section */
section.about {
  background-color: yellow;
  height: 720px;
}

section.about h1 {
  color: black;
}

section.about p {
  color: black;
}

section.about img {
  background-color: red;
}
